*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
body{
    margin: 0;
    
}
h1{
    font-size: 1rem;
    text-align: center;
  
}
h2{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}
a{
    color: white;
    font-size: 1rem;
    text-decoration: none;  
  }

p{
    font-size: 1rem;
    text-align: justify;
}
.dotted-hr{
    border: dotted 6px rgba(209, 56, 35, 0.947) ;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
.content-hr{
    margin: 15px;
    border-color: rgba(209, 56, 35, 0.947);
}
/* For all devices */
  [class*="col-"]{
    float: left;
    padding: 10px;
} 

/* for mobile  */
[class*="col-"]{
    width: 100%;
}

/* navbar design starts here  */
.navbar{
    background-color: rgb(34, 33, 33);
    padding: 1% 7%;
    text-align: center;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
.navbar h1{
    color: wheat;
    margin: 0;
    padding-top: 10px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.nav-menu a{
    border-radius: 10px;
    margin: 7px 0px;
    padding: 5px;
}
.nav-menu a:hover{
    background-color: rgba(209, 56, 35, 0.947);
}
/* navbar design ends here  */




/* profile starts from Here */
.profile{
    padding: 50px 5px;
    text-align: center;
}
.profile-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
.profile-content p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 10px auto 10px auto;
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/* profile ends here */


/* about me starts here   */
.about-me{
    background-color: rgb(44, 42, 42);
    padding: 1% 7%;
    color: whitesmoke;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.about-me::after{
    clear: both;
    display: table;
    content: '';
}
.aboutme-image img{
    border: 5px solid  rgba(209, 56, 35, 0.947);
    border-radius: 50%;
    height: 220px;

}
.about-me p{
    text-align: center;
}
.about-me a{
    font-size: small;
    color: blueviolet;
}
.cv-button a{
    color: whitesmoke;
    border-radius: 12px;
    border: 1px solid rgba(178, 36, 17, 0.808);
    padding: 7px;
    text-align: center;
    cursor: pointer;
    
}
 .cv-button a:hover{
    background-color:  rgba(178, 36, 17, 0.808);
    
}

/* about me ends here   */
