*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}
body{
    margin: 0;
    
}
h1{
    font-size: 1rem;
    text-align: center;
  
}
h2{
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}
a{
    color: white;
    font-size: 1rem;
    text-decoration: none;  
  }

p{
    font-size: 1rem;
    text-align: justify;
}
.dotted-hr{
    border: dotted 6px rgba(178, 36, 17, 0.808) ;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
.content-hr{
    margin: 15px;
    border-color: rgba(178, 36, 17, 0.808);
}
/* For all devices */
  [class*="col-"]{
    float: left;
    padding: 10px;
} 

/* for mobile  */
[class*="col-"]{
    width: 100%;
}

/* navbar design starts here  */
.navbar{
    background-color: rgb(44, 42, 42);
    padding: 1% 7%;
    text-align: center;
}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
.navbar h1{
    color: wheat;
    margin: 0;
    padding-top: 10px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.nav-menu a{
    border-radius: 10px;
    margin: 7px 0px;
    padding: 5px;
}
.nav-menu a:hover{
    background-color: rgba(178, 36, 17, 0.808);
}
/* navbar design ends here  */




/* profile starts from Here */
.profile{
    padding: 50px 5px;
    text-align: center;
}
.profile-content h1{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
.profile-content p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 10px auto 10px auto;
}
.profile::after{
    content: '';
    display: table;
    clear: both;
}
/* profile ends here */


/* about me starts here   */
.about-me{
    background-color: rgb(44, 42, 42);
    padding: 1% 7%;
    color: whitesmoke;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.about-me::after{
    clear: both;
    display: table;
    content: '';
}
.aboutme-image img{
    border: 5px solid  rgba(178, 36, 17, 0.808);
    border-radius: 50%;
    height: 220px;

}
.about-me p{
    text-align: center;
}
.about-me a{
    font-size: small;
    color: blueviolet;
}
.cv-button {
   margin: 10px;
} 
.cv-button a{
    color: whitesmoke;
    border-radius: 30px;
    border: 1px solid rgba(178, 36, 17, 0.808);
    padding: 7px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    
}
 .cv-button a:hover{
    background-color:  rgba(178, 36, 17, 0.808);
    
}
/* about me ends here----------   */



/* skill section start from here------------ */
.professional-experience{
    padding: 1% 0%;
}
.professional-experience::after{
    clear: both;
    display: table;
    content: '';
 }
.professional-experience .card{
    background-color: #a39e9e;
    border-radius: 5px;
    padding: 20px;
    transition: 0.3s;
    height: 600px;
}
.card:hover{
    box-shadow: 0 4px 8px 4px rgba(178, 36, 17, 0.808);
}
.card-icon{
    text-align: center;
}
.card-icon img{
    margin-top: 20px;
    width: 100px;
}
.rounded-img{
    border: 2px solid rgba(178, 36, 17, 0.808);
    border-radius: 15%;
    padding: 10px;
   
}
.card-title h2{
    background-color: rgb(44, 42, 42);
    color: white;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.skills-container{
    padding-right: 45px;

}
.skills-container li{
    list-style: none;
    margin: 20px 10px;
    position: relative;
    text-transform: uppercase;
}
.skills-container li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background: rgba(216, 88, 71, 0.821);
    top: calc(100% + 5px);
    left: 0;
    border-radius: 1000px;

    
}
.skills-container li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 10px;
    background: rgba(178, 36, 17, 0.808);
    top: calc(100% + 5px);
    left: 0;
    border-radius: 1000px;

    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    
}
.skills-container li.html::after{
    animation-name: html;
}
@keyframes html{
    to{
        width: 90%;
    }
}
.skills-container li.css::after{
    animation-name: css;
}
@keyframes css{
    to{
        width: 85%;
    }
}
.skills-container li.bootstrap::after{
    animation-name: bs;
}
@keyframes bs{
    to{
        width: 60%;
    }
}
.skills-container li.javascript::after{
    animation-name: js;
}
@keyframes js{
    to{
        width: 70%;
    }
}
.skills-container li.jquery::after{
    animation-name: jq;
}
@keyframes jq{
    to{
        width: 30%;
    }
}
.skills-container li.php::after{
    animation-name: php;
}
@keyframes php{
    to{
        width: 80%;
    }
}
.skills-container li.php::after{
    animation-name: php;
}
@keyframes php{
    to{
        width: 80%;
    }
}
.skills-container li.java::after{
    animation-name: java;
}
@keyframes java{
    to{
        width: 85%;
    }
}
.skills-container li.git::after{
    animation-name: github;
}
@keyframes github{
    to{
        width: 95%;
    }
}
.skills-container li.cplusplus::after{
    animation-name: cplusplus;
}
@keyframes cplusplus{
    to{
        width: 85%;
    }
}
/* skill section ends from here-------------- */



/* contact section starts from here---------- */
.contact-section{
    padding: 1% 7%;
    /* text-align: center; */
    color: whitesmoke;
    background-color: rgb(44, 42, 42);
}
.contact-section::after{
    clear: both;
    display: table;
    content: '';
 }
 .contact{
    text-align: center;
 }
.contact input, textarea{
    width: 100%;
    margin: 10px;
    padding: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    resize: none;
}
.contact button{
    border: none;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    margin: 0 10px;
    padding: 2px;
    color: whitesmoke;
    background-color: rgba(178, 36, 17, 0.808);
}
.contact-links{
    text-align: center;
}
.media-buttons .btn{
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    
}
.btn :hover{
    background-color: rgba(178, 36, 17, 0.808);
}
/* contact section ends from here---------- */



/* footer starts from here  */
.footer{
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
}
.footer::after{
    clear: both;
    display: table;
    content: '';
 }
 .footer-menu a{
    display: block;
    margin: 15px 0;
    font-size: 1rem;

 }
 .footer-menu a:hover{
    background-color: rgba(178, 36, 17, 0.808);

 }

/* footer ends from here  */